{{.Description}}
{{- if ne .Display "failed" }}

Displaying {{.Display | Bold}}
{{- end }}
{{- if .Input }}

{{Bold "Inputs:"}}
        {{- range $key, $value := .Input }}

  {{ Bold $key }}:
{{RenderConsole $value 4}}
        {{- end }}
{{- end}}

{{Bold "Outputs:"}}
{{ range $key, $value := .Output }}
  {{ Bold $key }}:
{{RenderConsole $value 4}}
{{- end }}
