{{Title .Metadata.Name}} Agent version {{.Metadata.Version}}

{{.Metadata.Description}}

Plugin Metadata:

    Author: {{.Metadata.Author}}
       URL: {{.Metadata.URL}}
   License: {{.Metadata.License}}
   Timeout: {{.Metadata.Timeout}}
{{- if .Metadata.Provider }}
  Provider: {{.Metadata.Provider}}
{{- end }}

Available Action: {{ .ActionNames | StringsJoin }}

{{ Bold "Actions:" }}
{{ range $action := .Actions }}
  {{ Bold $action.Name }} {{ Bold "Action"}}:

{{RenderConsole $action 4}}
{{- end }}
