
{{.Description}}

║      Prompt: {{.Prompt}}
║        Type: {{.Type | Title}}
║    Optional: {{.Optional}}
{{- if eq .Type "string" }}
║  Validation: {{.Validation}}
║  Max Length: {{.MaxLength}}
{{- else if eq .Type "list" }}
║    Enum: {{StringsJoin .Enum}}
{{- end }}
{{- if .Default }}
║     Default: {{.Default}}
{{- end }}
╙─
