
{{.Description}}

║  Display As: {{.DisplayAs}}
{{- if .Type }}
║        Type: {{.Type | Title }}
{{- else }}
║        Type: Undefined
{{- end }}
{{- if .Default }}
║     Default: {{.Default}}
{{- end }}
╙─
