version: "{build}"

clone_folder: c:\gopath\src\github.com\choria-io\go-choria

environment:
  GOPATH: c:\gopath
  GOVERSION: "1.17"
  MCOLLECTIVE_CERTNAME: rip.mcollective
  RUBY_VERSION: 24
  CGO_ENABLED: 0

init:
  - git config --global core.autocrlf input

stack: go 1.17

install:
  # Install the specific Go version.
  - rmdir c:\go /s /q
  - mkdir c:\go
  - appveyor DownloadFile https://golang.org/dl/go%GOVERSION%.windows-amd64.msi
  - msiexec /i go%GOVERSION%.windows-amd64.msi INSTALLDIR="c:\go" /q
  - set Path=C:\Ruby%RUBY_VERSION%\bin;c:\go\bin;c:\gopath\bin;%Path%
  - go version
  - ruby -v
  # Install vendor dependencies
  - go get github.com/onsi/ginkgo/ginkgo

build: false
deploy: false

test_script:
  # TODO: support windows pkcs11sec
  - ginkgo -r -keepGoing -skipMeasurements -skipPackage pkcs11sec
