.DS_Store
.vscode
*.bak
*.coverprofile
*.db
*.deb
*.dsc
*.rpm
*.swp
*.tgz
additional_agent_provider_*.go
choria-*-*-*
debug
go-choria
nohup.out
ping
vendor
provisioning_target_provider.go
plugin_*.go
.idea/
