
║ Description: {{.Description}}
║  Display As: {{.DisplayAs}}
{{- if .Type }}
║        Type: {{.Type}}
{{- else }}
║        Type: undefined
{{- end }}
{{- if .Default }}
║     Default: {{.Default}}
{{- end }}
╙─
