[Unit]
Description=The Choria Orchestrator Server
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/{{cpkg_name}}-server
StandardOutput=syslog
StandardError=syslog
User=root
Group=root
ExecStart=/bin/sh -c "${COMMAND_PREFIX} {{cpkg_bindir}}/{{cpkg_name}} server --config={{cpkg_etcdir}}/server.conf"
KillMode=process

[Install]
WantedBy=multi-user.target
