version: 2
jobs:
  test:
    docker:
      - image: circleci/golang:1.13

    working_directory: /go/src/github.com/choria-io/go-choria

    environment:
      MCOLLECTIVE_CERTNAME: rip.mcollective
      GO111MODULE: "on"

    steps:
      - checkout
      - setup_remote_docker
      - run: go generate
      - run: go mod vendor
      - run: go get github.com/onsi/ginkgo/ginkgo
      - run: ginkgo -r -skipMeasurements
      - run: mkdir -p /tmp/workspace
      - run: cd .. ; tar -czf /tmp/workspace/go-choria.tgz go-choria
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - go-choria.tgz

  build_el6_64bit_rpms:
    docker:
      - image: circleci/golang:1.13

    working_directory: /go/src/github.com/choria-io/go-choria

    environment:
      PACKAGE: el6_64
      BUILD: foss
      BUILDER: choria/packager:el6-go1.13

    steps: &std_build_steps
      - setup_remote_docker

      - attach_workspace:
          at: /tmp/workspace

      - run: docker create -v /go -v /build/artifacts --name store alpine:3.4 /bin/true
      - run: cd .. ; tar -xzf /tmp/workspace/go-choria.tgz

      - run: docker cp /go store:/

      - run: |
          VERSION="${CIRCLE_TAG}"

          if [ -z "${CIRCLE_TAG}" ]
          then
            VERSION=${CIRCLE_SHA1}
            if [ ! -z "${NIGHTLY}" ]
            then
              VERSION="0.99.0.$(date +'%Y%m%d')"
            fi
          fi

          docker run --volumes-from store --rm -e SOURCE_DIR=/go/src/github.com/choria-io/go-choria -e SHA1=${CIRCLE_SHA1} -e BUILD=${BUILD} -e VERSION=${VERSION} -e ARTIFACTS=/build/artifacts -e PACKAGE=${PACKAGE} ${BUILDER}

      - run: |
          mkdir -p /tmp/workspace/artifacts/${BUILD}/${PACKAGE}
          for i in $(docker run --volumes-from store --rm ${BUILDER} ls /build/artifacts);do
            docker cp store:/build/artifacts/${i} /tmp/workspace/artifacts/${BUILD}/${PACKAGE}
          done
          ls -l /tmp/workspace/artifacts/${BUILD}/${PACKAGE}

      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - artifacts

  build_el6_32bit_rpms:
    docker:
      - image: circleci/golang:1.13

    working_directory: /go/src/github.com/choria-io/go-choria

    environment:
      PACKAGE: el6_32
      BUILD: foss
      BUILDER: choria/packager:el6-go1.13

    steps: *std_build_steps

  build_el7_64bit_rpms:
    docker:
      - image: circleci/golang:1.13

    working_directory: /go/src/github.com/choria-io/go-choria

    environment:
      PACKAGE: el7_64
      BUILD: foss
      BUILDER: choria/packager:el7-go1.13

    steps: *std_build_steps

  build_xenial_64bit_debs:
    docker:
      - image: circleci/golang:1.13

    working_directory: /go/src/github.com/choria-io/go-choria

    environment:
      PACKAGE: xenial_64
      BUILD: foss
      BUILDER: choria/packager:xenial-go1.13

    steps: *std_build_steps

  build_stretch_64bit_debs:
    docker:
      - image: circleci/golang:1.13

    working_directory: /go/src/github.com/choria-io/go-choria

    environment:
      PACKAGE: stretch_64
      BUILD: foss
      BUILDER: choria/packager:stretch-go1.13

    steps: *std_build_steps

  build_bionic_64bit_debs:
    docker:
      - image: circleci/golang:1.13

    working_directory: /go/src/github.com/choria-io/go-choria

    environment:
      PACKAGE: bionic_64
      BUILD: foss
      BUILDER: choria/packager:stretch-go1.13

    steps: *std_build_steps

  gather_artifacts:
    docker:
      - image: circleci/golang:1.13

    steps:
      - attach_workspace:
          at: /tmp/workspace

      - run: ls /tmp/workspace

      - store_artifacts:
          path: /tmp/workspace

  nightly_packagecloud: &packagecloud_push
    environment:
      REPO: nightly

    docker:
      - image: circleci/ruby

    steps:
      - attach_workspace:
          at: /tmp/workspace

      - run: gem install package_cloud

      - run: |
          for d in 6 7
          do
            for i in $(find /tmp/workspace -name \*.el${d}.\*.rpm | grep -v src.rpm)
            do
              package_cloud push choria/${REPO}/el/${d} ${i}
            done
          done

workflows:
  version: 2
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master

    jobs:
      - test

      - build_el7_64bit_rpms:
          context: org-global
          requires:
            - test

      - build_el6_64bit_rpms:
          context: org-global
          requires:
            - test

      - gather_artifacts:
          requires:
            - build_el6_64bit_rpms
            - build_el7_64bit_rpms

      - nightly_packagecloud:
          requires:
            - gather_artifacts

  test_and_ship:
    jobs:
      - test:
          filters:
            tags:
              only: /.+/

      - hold:
          type: approval
          requires:
            - test
          filters: &semver_only
            tags:
              only: /^\d+\.\d+\.\d+$/
            branches:
              ignore: /.*/

      - build_el6_32bit_rpms:
          filters: *semver_only
          requires:
            - hold

      - build_el6_64bit_rpms:
          filters: *semver_only
          requires:
            - hold

      - build_el7_64bit_rpms:
          filters: *semver_only
          requires:
            - hold

      - build_xenial_64bit_debs:
          filters: *semver_only
          requires:
            - hold

      - build_stretch_64bit_debs:
          filters: *semver_only
          requires:
            - hold

      - build_bionic_64bit_debs:
          filters: *semver_only
          requires:
            - hold

      - gather_artifacts:
          requires:
            - build_el6_32bit_rpms
            - build_el6_64bit_rpms
            - build_el7_64bit_rpms
            - build_xenial_64bit_debs
            - build_stretch_64bit_debs
            - build_bionic_64bit_debs

          filters: *semver_only
