{{.Description}}|{{.Prompt | MarkdownEscape}}|{{if .Optional}}Optional{{else}}Required{{end}}|{{if eq .Type "string"}}``{{.Validation | MarkdownEscape }}`` max length {{.MaxLength}}{{else if eq .Type "list"}}{{range .Enum }}``{{. | MarkdownEscape}}`` {{else}}{{end}}{{end }}|{{.Type | Title}}|{{ if .Default}}{{.Default | MarkdownEscape}}{{ end }}|
