{{.Description}}|{{.Prompt}}|{{if .Optional}}Optional{{else}}Required{{end}}|{{if eq .Type "string"}}`{{.Validation}}` max length {{.MaxLength}}{{else if eq .Type "list"}}{{range .Enum }}`{{.}}` {{end}}{{end }}|{{.Type | Title}}|{{ if .Default}}{{.Default}}{{ end }}|
